[submodule "Master-Thesis-CEM-Depression-etc-case-study"]
	path = Master-Thesis-CEM-Depression-etc-case-study
	url = https://github.com/Gualtier0/Master-Thesis-CEM-Depression-etc-case-study
	branch = main
